C:\terraform
C:\.terraform
.terraform/
terraform/

.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.38.0/windows_386/terraform-provider-azurerm_v3.38.0_x5.exe
terraform-provider-azurerm_v3.38.0_x5.exe

resources3.tf
kubectl.exe
helm.exe
.\sayan
